@import 'base/variables';
@import 'base/mixins';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    // overflow: hidden;
}

@import 'blocks/header.scss';
@import 'blocks/weather.scss';
@import 'blocks/weather-info.scss';
@import 'blocks/menu.scss';
@import 'blocks/form.scss';
@import 'blocks/search.scss';

