.button__back {
    position: absolute;
    top: 80px;
    left: 100px;
    &-btn {
        background-color: var(#{--button-back-bgr-default});
        border: none;
        width: 78px;
        height: 78px;
        border-radius: 100%;
        position: relative;
        cursor: pointer;
        > img {
            position: absolute;
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            width: 80px;
            height: 55px;
        }
    }
    &-text {
        text-align: center;
        font-weight: 400;
        font-size: 15px;
        letter-spacing: 0.4em;
        color: #fff;
        margin-top: 20px;
        cursor: default;
    }
}

@media (max-width: 1919px) {
    .button__back {
        position: absolute;
        top: 64px;
        left: 70px;
        display: block;
        &-btn {
            width: 63px;
            height: 63px;
            > img {
                width: 60px;
                height: 44px;
            }
        }
    }
}

@media (max-width: 1200px) {
    .button__back {
        display: none;
    }
}