.search {
    background: var(#{--weather-search-bgr-default});
    height: 100vh;
    &__inner {
        padding: 80px 0 0;
    }
    &__wrapper {
        min-height: 825px;
        max-width: 1280px;
        margin: 0 auto;
        background: var(#{--weather-search-form-bgr-default});
        display: flex;
        border-radius: 37px;
        overflow: hidden;
    }
    .form {
        padding: 62px 37px;
        width: 50%;
        &__wrapper {
            position: relative;
            max-width: 437px;
            margin: 0 auto;
        }
        &__title {
            color: var(#{--weather-search-title-default});;
            text-align: center;
            font-weight: 700;
            font-size: 37px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
        }
        &__name {
            display: block;
            width: 100%;
            height: 70px;
            margin: 0 auto;
            border: none;
            border-radius: 50px;
            -webkit-box-shadow: 0px 0px 28px -1px rgba(34, 60, 80, 0.17);
            -moz-box-shadow: 0px 0px 28px -1px rgba(34, 60, 80, 0.17);
            box-shadow: 0px 0px 28px -1px rgba(34, 60, 80, 0.17);
            padding: 0 30px;
            margin-top: 60px;
            outline: none;
            font-size: 17px;
        }
        &__btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(#{--weather-search-btn-default});
            height: 90px;
            width: 90px;
            border-radius: 100%;
            border: none;
            cursor: pointer;
            > div {
                height: 45px;
            }
        }
    }
    &__content {
        width: 50%;
        padding: 60px 37px;
        background: var(#{--weather-search-content-default});;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__name {
        font-weight: 700;
        font-size: 37px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: var(#{--weather-search-title-default});
        text-align: center;
    }
    &__icon {
        display: block;
        width: 250px;
        height: 250px;
        margin: 50px auto 0;
    }
    &__text {
        display: inline-block;
        margin-top: 25px;
        font-weight: 300;
        font-size: 125px;
        line-height: 125px;
        text-align: center;
        position: relative;
        color: var(#{--weather-search-text-default});
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 25px;
            height: 25px;
            border-radius: 100%;
            border: 3px solid var(#{--weather-search-degree-default});
            background-color: transparent;
            top: 0px;
            right: -30px;
        }
    }
    &__weather-name {
        margin-top: 45px;
        font-weight: 300;
        font-size: 37px;
        line-height: 37px;
        letter-spacing: 0.1em;
        color: var(#{--weather-search-temp-name-default});
        text-transform: uppercase;
        text-align: center;
    }
    &__btn {
        display: block;
        border: none;
        border-radius: 60px;
        padding: 25px 37px;
        color: #fff;
        font-size: 20px;
        font-weight: 700;
        background-color: var(#{--weather-search-btn-default});
        cursor: pointer;
        margin: 45px auto 0;
    }
}

@media (max-width: 1919px) {
    .search {
        &__inner {
            padding: 64px 0 0;
        }
        &__wrapper {
            min-height: 666px;
            max-width: 1024px;
            border-radius: 30px;
        }
        .form {
            padding: 50px 30px;
            width: 50%;
            &__wrapper {
                max-width: 350px;
            }
            &__title {
                font-size: 30px;
            }
            &__name {
                height: 55px;
                border-radius: 40px;
                padding: 0 30px;
                margin-top: 50px;
            }
            &__btn {
                height: 70px;
                width: 70px;
                > img {
                    height: 35px;
                }
            }
        }
        &__content {
            padding: 50px 30px;
        }
        &__name {
            font-size: 30px;
        }
        &__icon {
            width: 200px;
            height: 200px;
            margin: 40px auto 0;
        }
        &__text {
            margin-top: 20px;
            font-size: 100px;
            line-height: 100px;
            &::after {
                width: 20px;
                height: 20px;
                border: 2px solid #707070;
            }
        }
        &__weather-name {
            margin-top: 35px;
            font-size: 30px;
            line-height: 30px;
        }
        &__btn {
            border-radius: 50px;
            padding: 20px 30px;
            margin: 35px auto 0;
        }
    }
}

@media (max-width: 992px) {
    .search {
        &__wrapper {
            border-radius: 0;
        }
    }
}

@media (max-width: 768px) {
    .search {
        &__wrapper {
            flex-direction: column;
        }
        .form {
            width: 100%;
            min-height: 550px;
        }
        &__content {
            width: 100%;
        }
    }
}

@media (max-width: 576px) {
    .search {
        .form {
            padding: 50px 15px;
        }
    }
}