<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.cdnfonts.com/css/segoe-s" rel="stylesheet">
    <link rel="stylesheet" href="css/style.min.css">
    <title>Weather</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__wrapper">
                <div class="header__menu">
                    <div class="header__menu-boorger">
                        <span></span>
                    </div>
                    <div class="header__menu-logo">
                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"
                            viewBox="0 0 707.626 143.595">
                            <g id="Logo" transform="translate(-149.292 -17.159)">
                                <path id="Контур_1" data-name="Контур 1" d="M588.076,57.537V-86.058L731.67,57.537Z"
                                    transform="translate(-438.783 103.216)" fill="#00ff9b" />
                                <path id="Контур_2" data-name="Контур 2" d="M0,143.594V0L143.595,143.594Z"
                                    transform="translate(149.292 160.753) rotate(-90)" fill="#003eff" />
                                <text id="Minimis" transform="translate(439.918 130.33)" fill="#432c85" font-size="99"
                                    font-family="SegoeUI-Semibold, Segoe UI" font-weight="600" letter-spacing="0.1em">
                                    <tspan x="0" y="0">Minimis</tspan>
                                </text>
                            </g>
                        </svg>
                    </div>
                </div>
                <div class="header__title">
                    <h1 class="header__title-day">TODAY</h1>
                </div>
                <div class="header__toggle">
                    <span class="header__toggle-name">LIGHT</span>
                    <input type="checkbox" id="toggle-theme">
                    <label for="toggle-theme" class="toggle-theme">
                        <div class="toggle-boll"></div>
                    </label>
                    <span class="header__toggle-name">DARK</span>
                </div>
            </div>
        </div>
    </header>

    <section class="weather-info">
        <div class="container">
            <div class="weather-info__background-circle"></div>
            <div class="weather-info__background-circle"></div>
            <div class="weather-info__background-circle"></div>
            <div class="weather-info__background-circle"></div>
            <div class="weather-info__back">
                <button class="weather-info__back-btn">
                    <img src="icons/arrow-back.svg" alt="arrow back for button">
                </button>
                <div class="weather-info__back-text">BACK</div>
            </div>
            <div class="weather-info__wrapper">
                <div class="weather-info__header">
                    <div>
                        <img src="icons/cloudy-icon.svg" alt="snowing-icon" class="weather-info__icon">
                        <div class="weather-info__text">
                            <h3 class="weather-info__temp">15&deg;</h3>
                            <div class="weather-info__name">CLOUDY</div>
                        </div>
                    </div>
                    <h2 class="weather-info__city">TUNISIA</h2>
                </div>
                <div class="weather-info__body">
                    <div class="twitter">
                        <div class="twitter__header">
                            <img src="icons/twitter-icon.svg" alt="twitter icon" class="twitter__icon">
                            <h2 class="twitter__title">Twitter Feed</h2>
                            <div class="twitter__hashtag">#France</div>
                        </div>
                        <div class="twitter__list">
                            <div class="twitter__list-item">
                                <img src="icons/twitter-thumbnail.svg" alt="twitter thumbnail"
                                    class="twitter__thumbnail">
                                <p class="twitter__descr">Don't Forget your sunscreen tomorrow!</p>
                            </div>
                            <div class="twitter__list-item">
                                <img src="icons/twitter-thumbnail.svg" alt="twitter thumbnail"
                                    class="twitter__thumbnail">
                                <p class="twitter__descr">Amazing weather in Paris!</p>
                            </div>
                        </div>
                        <button class="twitter__btn">NEXT</button>
                    </div>
                    <div class="days">
                        <div class="days-list">
                            <div class="day-item">
                                <h3 class="day-item__name">MON</h3>
                                <img src="icons/rain-icon.svg" alt="rain icon" class="day-item__icon">
                                <div class="day-item__temp">9&deg;</div>
                                <div class="day-item__temp-name">RAINING</div>
                            </div>
                            <div class="day-item">
                                <h3 class="day-item__name">TUE</h3>
                                <img src="icons/sun-icon.svg" alt="sun icon" class="day-item__icon">
                                <div class="day-item__temp">15&deg;</div>
                                <div class="day-item__temp-name">SUNNY</div>
                            </div>
                            <div class="day-item">
                                <h3 class="day-item__name">WED</h3>
                                <img src="icons/cloudy-icon.svg" alt="cloudy icon" class="day-item__icon">
                                <div class="day-item__temp">11&deg;</div>
                                <div class="day-item__temp-name">CLOUDY</div>
                            </div>
                            <div class="day-item">
                                <h3 class="day-item__name">THU</h3>
                                <img src="icons/storm-icon.svg" alt="storm icon" class="day-item__icon">
                                <div class="day-item__temp">7&deg;</div>
                                <div class="day-item__temp-name">STORM</div>
                            </div>
                            <div class="day-item">
                                <h3 class="day-item__name">FRI</h3>
                                <img src="icons/sun-icon.svg" alt="sun icon" class="day-item__icon">
                                <div class="day-item__temp">18&deg;</div>
                                <div class="day-item__temp-name">SUNNY</div>
                            </div>
                        </div>
                        <div class="days__avg">
                            <div class="days__avg-item">
                                <div class="days__avg-name">Avg. Temp: <span
                                        class="days__avg-temp degrees">15&deg;</span></div>
                            </div>
                            <div class="days__avg-item">
                                <div class="days__avg-name">Avg. Humd: <span class="days__avg-humb">78%</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>