.weather {
    position: relative;
    height: 988px;
    height: 100vh;
    background: var(#{--weather-list-bgr-default});
    &__wrapper {
        position: relative;
        padding: 100px;
        .arrow-prev,
        .arrow-next {
            width: 41px;
            height: 82px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            &:active {
                opacity: 0.4;
            }
        }
        .arrow-prev {
            left: 20px;
        }
        .arrow-next {
            right: 20px;    
        }
    }
    &__list {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between;
        &-item {
            width: 474px;
            height: 776px;
            text-align: center;
            padding: 30px;
            margin: 0 20px;
            font-family: "Segoe UI";
            color: var(#{--weather-list-text-default});
            background: var(#{--weather-list-item-bgr-default});;
            border-radius: 50px;
            -webkit-box-shadow: 0px 0px 25px 3px rgba(34, 60, 80, 0.1);
            -moz-box-shadow: 0px 0px 25px 3px rgba(34, 60, 80, 0.1);
            box-shadow: 0px 0px 25px 3px rgba(34, 60, 80, 0.1);
            cursor: pointer;
            .city-name {
                margin: 0;
                font-weight: 400;
                font-size: 30px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
            }
            .weather-icon {
                width: 275px;
                height: 275px;
                margin: 40px auto 0;
                > svg {
                    height: 100%;
                    width: 100%;
                }
            }
            .temperature__text {
                margin-top: 20px;
                font-weight: 300;
                font-size: 120px;
                line-height: 120px;
                position: relative;
                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 28px;
                    height: 28px;
                    border-radius: 100%;
                    border: 2px solid var(#{--weather-list-degree-default});
                    background-color: transparent;
                    top: 0px;
                    right: 115px;
                }
            }
            .temperature__name {
                margin-top: 35px;
                font-weight: 300;
                font-size: 30px;
                line-height: 30px;
                letter-spacing: 0.1em;
                color: var(#{--weather-list-temp-name-default});
                text-transform: uppercase;
            }
            .temperture__containers {
                margin-top: 35px;
                display: flex;
                justify-content: space-between;
                .temperture__max,
                .temperture__min {
                    font-weight: 300;
                    font-size: 60px;
                    letter-spacing: 0.01em;
                    color: var(#{--weather-list-text-default});
                    position: relative;
                    margin: 0 40px;
                }
                .temperture__max {
                    &::before {
                        content: "";
                        display: block;
                        background-image: url(../../../assets/icons/max-arrow.svg);
                        background-size: 20px 20px;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        top: 3px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &::after {
                        content: "Max";
                        display: block;
                        font-weight: 300;
                        font-size: 30px;
                        line-height: 30px;
                        letter-spacing: 0.1em;
                        color: #f00;
                    }
                }
                .temperture__min {
                    &::before {
                        content: "";
                        display: block;
                        background-image: url(../../../assets/icons/min-arrow.svg);
                        background-size: 20px 20px;
                        width: 20px;
                        height: 20px;
                        position: absolute;
                        top: -6px;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    &::after {
                        content: "Min";
                        display: block;
                        font-weight: 300;
                        font-size: 30px;
                        line-height: 30px;
                        letter-spacing: 0.1em;
                        color: #00ff9b;
                    }
                }
            }
        }
        &-item_add {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            cursor: default;
            .city-plus {
                position: relative;
                width: 200px;
                height: 200px;
                background: var(#{--weather-item-add-default});;
                border-radius: 100%;
                margin: 0 auto;
                -webkit-box-shadow: 0px 5px 5px 0px rgba(34, 60, 80, 0.1);
                -moz-box-shadow: 0px 5px 5px 0px rgba(34, 60, 80, 0.1);
                box-shadow: 0px 5px 5px 0px rgba(34, 60, 80, 0.1);
                cursor: pointer;
                &::before {
                    content: "";
                    display: block;
                    width: 13px;
                    height: 145px;
                    border-radius: 5px;
                    background: var(#{--weather-item-add-line-default});
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
                &::after {
                    content: "";
                    display: block;
                    width: 145px;
                    height: 13px;
                    border-radius: 5px;
                    background: var(#{--weather-item-add-line-default});
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .city-img {
                width: 100%;
                border-radius: 35px;
            }
        }
    }
}
@media (max-width: 1919px) {
    .weather {
        height: 790px;
        &__wrapper {
            padding: 80px;
            .arrow-prev,
            .arrow-next {
                width: 33px;
                height: 66px;
            }
        }
        &__list {
            &-item {
                width: 379px;
                height: 620px;
                padding: 24px;
                border-radius: 40px;
                .city-name {
                    font-size: 24px;
                }
                .weather-icon {
                    width: 220px;
                    height: 220px;
                    margin-top: 32px;
                }
                .temperature__text {
                    margin-top: 16px;
                    font-size: 96px;
                    line-height: 96px;
                    &::after {
                        width: 22px;
                        height: 22px;
                        top: 0px;
                        right: 92px;
                    }
                }
                .temperature__name {
                    margin-top: 28px;
                    font-size: 24px;
                    line-height: 24px;
                }
                .temperture__containers {
                    margin-top: 28px;
                    .temperture__max,
                    .temperture__min {
                        font-weight: 300;
                        font-size: 48px;
                        margin: 0 32px;
                    }
                    .temperture__max {
                        &::before {
                            top: 0px;
                        }
                        &::after {
                            font-size: 24px;
                            line-height: 24px;
                        }
                    }
                    .temperture__min {
                        &::before {
                            top: -10px;
                        }
                        &::after {
                            font-size: 24px;
                            line-height: 24px;
                        }
                    }
                }
            }
            &-item_add {
                .city-plus {
                    width: 160px;
                    height: 160px;
                    &::before {
                        width: 10px;
                        height: 116px;
                    }
                    &::after {
                        width: 116px;
                        height: 10px;
                    }
                }
            }
        }
    }
}